{% extends "base.html" %}

{% block content %}






  <h1>welcome {{user}} -{{ user.username }}</h1>



  <h1>weB</h1>

{% if weB %}

  <table>
    <thead>
      <tr>

       <th>slug </th>
        <!-- <th>active </th>
       <th>Employee </th> -->
      </tr>
    </thead>
    <tbody>


      {% for weB in weB %}
        <tr>

          <td>{{ weB.slug }}</td>
          <!-- <td>{{ weB.active }}</td>
         <td>{{ weB.Employee_WEB }}</td> -->
     <td>
       <a href="{% url 'Dashboard:service_list'  %}">

<button>Update </button>


       </a>
     </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% else %}

<a href="{% url 'Dashboard:create_web' %}"><button>Create Web</button></a>

    {% endif %}

  <h1>categories</h1>

  <a href="{% url 'Dashboard:create_category' %}"><button>Create Category</button></a>

  <table>
    <thead>


    {% for category in categories %}
      <tr>
        <td>{{ category.Name }}</td>
         <td>{{ category.web }}</td>

   <td>
     <a href="{% url 'Dashboard:update_category' pk=category.pk %}"><button>Update</button></a>


   </td>

   <td>
     <a href="{% url 'Dashboard:delete_category' category.pk %}"><button>Delete</button></a>


   </td>





      </tr>
  {% endfor %}

</table>




  <h1>Services</h1>
  <ul>
    {% for service in services %}
      <li>
        <h2>{{ service.Title }}</h2>
        {% if service.Image %}
          <img src="{{ service.Image.url }}" alt="{{ service.Title }}">
        {% endif %}

        <p>{{ service.Description }}</p>
        <p>Price: {{ service.price }}</p>
        {% if service.category_id %}
          <p>Category: {{ service.category_id.Name }}</p>



        {% endif %}
        {% if service.keywords %}
          <p>Keywords: {{ service.keywords }}</p>


          <p>    <a href="{% url 'Dashboard:update_service' service.id %}" class="btn btn-primary"><button>Update</button></a></p>
  <p>

            <a href="{% url 'Dashboard:delete_service' service.id %}" class="btn btn-danger"><button>Delete</button></a>

</p>

        {% endif %}
      </li>
    {% endfor %}
  </ul>


















{% endblock %}
