


  <h1>All Categories and Services for {{ web.Name }}</h1>


  <style>




  .Container{

      /* background-color: lightgreen; */
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-content: flex-start;
      margin: auto;
      min-height: 30em;
      padding: 3em 1em 1em 1em;
      box-sizing: border-box;
  }

  /* Card Styling */
  .card-div{    border: 1px solid #ccc;
      width: 20em;
      min-height: 20em;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      background-color: var(--card-main-color);
      margin: 0.6em;
      box-sizing: border-box;
      border-radius: 8px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: transform 0.2s ease-in-out;
       border-radius: 8px ;
  }

  /* ======== General styling of all cards and heart divs ========== */
  .img-div{
      width: 100%;
      height: 8em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      z-index: 1;
      border-radius: 0 0 10px 10px;
  }

  .img-div img{
      transform-origin: bottom;
      transform: translateY(7.5%);
      transition: transform 0.3s ease-in-out
  }



  /* God of war image and heart-background*/
  .gow-img-div{
      background-color: var(--card-1-secondary-color);
  }

  .gow-img-div img{
      width: 100%;
      border-radius: 8px 8px  0px  0px ;

      /* background-color: whitesmoke; */
  }



  /* ======== text Container Styling general ======== */

  .text-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      /* background-color: yellow; */
      padding: 0 1.5em;

      padding-bottom: 1em;
      box-sizing: border-box;
  }

  .text-container .item-name,
  .text-container .date{
      margin: 0.25em 0;
      text-align: center;
  }

  .text-container .item-name{
      font-size: 1em;
      font-weight: var(--title-font-weight);
      color: var(--heading-color);
  }

  .text-container .date{
      font-size: 0.9em;
      font-weight: var(--date-font-weight);
      color: var(--date-text-color);
  }

  /* === Pricing and cart div  ===== */
  .pricing-and-cart{
      /* background-color: wheat; */
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0.25em 0 1em 0;
  }

  .pricing{
      display: flex;
      flex-direction: column;
      text-align: right;
  }


  .current-price{
      color: var(--current-price-text-color);
      font-size: 1.3rem;
      font-weight: var(--pricing-font-weight);
      /* background-color: yellow; */
      margin: 0;

    color: #d1c091;;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: .5rem;




  }

  .pricing-and-cart{
      width: 100%;
  }

  .fa-shopping-cart{
      font-size: 1.3rem;
      top: 0;
      transform: translateY(50%);
      color: #d1c091;
  }


  /* ====== Hover effects ======= */
  .card-div:hover .img-div img{
      transform: translateY(7.5%) scale(1.2);
  }

  .card-div:hover{
      transform: translate(0, -10px);
  }





  </style>



   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">





      <div class="Container">

        {% if category_services %}


          {% for category, services in category_services.items %}
            <h2  style="text-align:center;    width: 100%;" >{{ category.Name }}</h2><br>




            {% for service in services %}
          <div class="card card-div">
            <a href="{% url 'webs:service' web.slug category.id service.id %}">


              <div class="gow-img-div">
                {% if service.Image %}
                  <img src="{{ service.Image.url }}" alt="{{ service.Title }}">
                {% endif %}
              </div>
            </a>
            <div class="text-container">
        <a href="{% url 'webs:service' web.slug category.id service.id %}">
                <h2 class="item-name">{{ service.Title }}</h2>
              </a>
              <div class="pricing-and-cart">
                <div class="pricing">
                  <p class="current-price">{{ service.price }} ر.س</p>
                </div>
                <button class="add-to-cart" data-id="{{ service.id }}">
                    <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
   {% endfor %}

          {% endfor %}
        {% else %}
          <p>No Categories or Services found.</p>
        {% endif %}




              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script>
              $(document).ready(function() {
                  console.log('Document is ready.');
                  $('.add-to-cart').click(function(event) {
                      console.log('Add-to-cart button clicked.');
                      event.preventDefault();
                      var serviceId = $(this).data('id');
                      console.log('Service ID:', serviceId);
                      $.ajax({
                          url: '{% url "webs:add_to_cart" 0 %}'.replace('0', serviceId),
                          type: 'POST',
                          dataType: 'json',
                          data: {
                              'csrfmiddlewaretoken': '{{ csrf_token }}',
                              // Other data...
                          },
                          success: function(data) {
                              console.log('AJAX request successful:', data);
                              $('.cart-item-count').text(data.cart_item_count);
                          },
                          error: function(xhr, textStatus, errorThrown) {
                              console.log('AJAX request error:', errorThrown);
                          }
                      });
                  });
              });
              </script>
